@inject IStringLocalizer<Localization> local
@using System.ComponentModel.DataAnnotations
@using System.Text.Json
@inherits FeedbackComponent<ScheduledRecord>

<Form Model="@_model"
      Layout="@FormLayout.Vertical"  
      OnFinish="OnFinish"
      OnFinishFailed="OnFinishFailed">
    <Row Gutter="16">
        <AntDesign.Col Xl="new EmbeddedProperty{Span = 24}"
                       Lg="new EmbeddedProperty{Span = 24}"
                       Md="new EmbeddedProperty{Span = 24}"
                       Sm="12">
            <FormItem Label="@local["Title"]">
                <Input @bind-Value="@context.Title" Placeholder="@Localization.TitlePlaceholder"/>
            </FormItem>
        </AntDesign.Col>
        <AntDesign.Col Xl="new EmbeddedProperty{Span = 24}"
                       Lg="new EmbeddedProperty { Span = 24 }"
                       Md="new EmbeddedProperty{Span = 24}"
                       Sm="12">
            <FormItem Label="@local["Description"]">
                <Input @bind-Value="@context.Description" Placeholder="@Localization.DescriptionPlaceholder" />
            </FormItem>
        </AntDesign.Col>

        <AntDesign.Col Xl="new EmbeddedProperty{Span = 12}"
                       Lg="new EmbeddedProperty { Span = 12 }"
                       Md="new EmbeddedProperty{Span = 12}"
                       Sm="12">
            <FormItem Label="@local["StartTime"]">
                <DatePicker @bind-Value="@context.StartTime" ShowTime="@true" DefaultValue="DateTime.Now.AddMinutes(5)" />
            </FormItem>
        </AntDesign.Col>

        <AntDesign.Col Xl="new EmbeddedProperty{Span = 12}"
                       Lg="new EmbeddedProperty { Span = 12 }"
                       Md="new EmbeddedProperty{Span = 12}"
                       Sm="12">
            <FormItem Label="@local["EndTime"]">
                <DatePicker @bind-Value="@context.EndTime" ShowTime="@true" DefaultValue="DateTime.Now.AddMinutes(15)"/>
            </FormItem>
        </AntDesign.Col>


        <AntDesign.Col Xl="new EmbeddedProperty{Span = 12}"
                       Lg="new EmbeddedProperty { Span = 12 }"
                       Md="new EmbeddedProperty{Span = 12}"
                       Sm="12">
            <label class="ant-form-item-label">"@local["Tags"]</label>
              <TagsEditor Tags="@context.YoutubeTags"/>            
        </AntDesign.Col>
    </Row>     
</Form>

@code {

  
    public DateTime?[] DateRange { get; set; }

    private ScheduledRecord _model;
    protected override void OnInitialized()
    {
       
        _model = base.Options ?? new ScheduledRecord();
        base.OnInitialized();
    }



    private void OnFinish(EditContext editContext)
    {
        Console.WriteLine($"Success:{JsonSerializer.Serialize(_model)}");
        _ = base.FeedbackRef.CloseAsync();
    }

    private void OnFinishFailed(EditContext editContext)
    {
        Console.WriteLine($"Failed:{JsonSerializer.Serialize(_model)}");
    }

    private void OnTimeRangeChange(DateRangeChangedEventArgs args)
    {
        _model.StartTime = args.Dates.FirstOrDefault() ?? default(DateTime);

        _model.EndTime = args.Dates.LastOrDefault() ?? default(DateTime);
    }




}
